@font-face {
    font-family: 'Varela Round';
    src: local('Varela Round'), local('VarelaRound-Regular'), url('../fonts/Valera Round/Varelaround.woff2') format('woff2'), url('../fonts/Valera Round/Varelaround.woff') format('woff'), url('../fonts/Valera Round/Varelaround.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Varela Round', sans-serif;
}

a {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h4 {
    font-weight: 100;
    color: #FFF;
    text-align: center;
    line-height: 130%;
    margin: 0 5px 0 5px;

}

h1, h2 {
    padding-right: 10%;
    padding-left: 10%;
    font-weight: 100;
    color: #FFF;
    text-align: center;
}


/*Github triangle*/
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 540px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

/*Dark triangle in left-down */
.triangle {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 6;
    border: 40px solid transparent;
    border-bottom: 40px solid #151513;
    border-left: 40px solid #151513;
}


/*Contact icons*/
.socialBtn img {
    width: 100px;
    height: 100px;
}

.container#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


/*Scroll animated icon*/
@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}

.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    /*color: #7f8c8d;*/
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *.active {
    color: #ffffff;
}

.scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *:active, .scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;
}

.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}


/*Social buttons in social slide style animation and other*/
.socialBtn img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 0;
    border: 1px solid #cbcbcb;
    margin: 5px;
    transition: 0.2s;
}

.socialBtn:hover img {
    border: 5px solid #FFF;
    transition: 0.2s;
    margin: 1px;
}


/*My photo style in about slide*/
#avatar {
    width: 50%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    border: 3px solid #5c5b5b;
}

/*GIF in First Slide*/
.first-slide-gif {
    display: flex;
    margin: 1em auto auto;
}

@media (max-height: 800px) {
    .first-slide-gif {
        visibility: hidden;
        display: none;
    }

}


/*TV containers*/
.tv-container-mobile {
    display: flex;
    background: url(../img/gadgets/pixel-2-xl.png) no-repeat top left transparent;
    width: 240px;
    height: 480px;
    position: relative;
    margin: 15px auto auto;
    cursor: pointer;
}

@media (max-width: 320px) {
    .tv-container-mobile {
        background: url(../img/gadgets/pixel-2-xl-little.png) no-repeat top left transparent;
        width: 200px;
        height: 400px;
    }
}

.tv-container-mobile video {
    position: absolute;
    top: 32px;
    left: 13px;
    width: 210px;
    border-radius: 9px;
}

@media (max-width: 320px) {
    .tv-container-mobile video {
        top: 25px;
        left: 11px;
        width: 177px;
        border-radius: 7px;
    }
}


.tv-container-tablet {
    display: flex;
    background: url(../img/gadgets/ipad.png) no-repeat top left transparent;
    width: 445px;
    height: 348px;
    position: relative;
    margin: 15px auto auto;
    cursor: pointer;
}

.tv-container-tablet video {
    position: absolute;
    top: 27px;
    left: 49px;
    width: 347px;
}


.tv-container-laptop-mid {
    display: flex;
    background: url(../img/gadgets/macbook.png) no-repeat top left transparent;
    width: 800px;
    height: 456px;
    position: relative;
    margin: 15px auto auto;
    cursor: pointer;
}

.tv-container-laptop-mid video {
    position: absolute;
    top: 25px;
    left: 62px;
    width: 676px;
    border-radius: 5px;
}


.tv-container-laptop-big {
    display: flex;
    background: url(../img/gadgets/macbook-big.png) no-repeat top left transparent;
    width: 1200px;
    height: 685px;
    position: relative;
    margin: 15px auto auto;
    cursor: pointer;
}

.tv-container-laptop-big video {
    position: absolute;
    top: 40px;
    left: 95px;
    width: 1010px;
    border-radius: 7px;
}


/*change container-device type rules*/
@media only screen and (max-width: 540px) {
    .hide-mobile {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (min-width: 541px) and (max-width: 1024px) {
    .hide-tab {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .hide-mid {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .hide-big {
        visibility: hidden;
        display: none;
    }
}


/* Menu*/
.hamburger-menu {
    position: absolute;
    z-index: 7;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 112;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background-color: #151513;
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    /*color: #fff;*/
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: rgba(255, 255, 255, 0.3333);
}


