.hello-slide {
  background: linear-gradient(-45deg, #f56868, #413ea7, #55b718, #3fa3b5);
  background-size: 400% 400%;
  animation:  gradient-background 15s ease infinite;
  text-transform: uppercase;
}

@keyframes gradient-background {
  0%{ background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%;}

}

.about-slide {
  background: #101010;
}

.slide_contact {
  background: #9c20a5;
}

