@keyframes gradient-background {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.hello-slide {
  background: linear-gradient(-45deg, #3d79eb, #413ea7, #e99211, #b10e52);
  background-size: 400% 400%;
  animation: gradient-background 15s ease infinite;
  /*
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);*/

  text-transform: uppercase;
}

.cloud {
  width: 200px;
  height: 60px;
  background: #fff;

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;

  position: relative;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 200px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

/*Time to animate*/
.first__cloud {
  animation: moveclouds 40s linear infinite;
  top: -40vh;
  left: 15vh;
}

.second__cloud {
  left: -20vh;
  top: 14vh;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/

  animation: moveclouds 50s linear infinite;
}

@keyframes moveclouds {
  0% {
    margin-left: 50vw;
  }
  100% {
    margin-left: -50vw;
  }
}

@media screen and (max-width: 1024px) {
  .cloud {
    visibility: hidden;
    display: none;
  }
}

.about-slide {
  background: #000000;
}

.soft-skills-slide {
  background: #f56868;
}

.hard-skills-slide {
  background: #34662b;
}

.krasnarodyna-slide {
  background: #16a085;
}

.berizka-slide {
  background: #f56868;
}

.clarionio-slide {
  background: #3c3c3c;
}

.contact-slide {
  background: #464646;
}
