@keyframes gradient-background {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.hello-slide {
  background: linear-gradient(-10deg, #3d79eb, #413ea7, #e99211, #b10e52);
  background-size: 400% 400%;
  animation: gradient-background 15s ease infinite;
  text-transform: uppercase;

  h4 {
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    margin-top: 20px;
    max-width: 600px;

    text-align: justify;
    text-justify: inter-word;
  }
}

.soft-skills-slide {
  background: #f56868;
}

.hard-skills-slide {
  background: #34662b;
}

.krasnarodyna-slide {
  background: #16a085;
}

.berizka-slide {
  background: #f56868;
}

.clarionio-slide {
  background: #3c3c3c;
}

.contact-slide {
  background: #464646;
}